.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  /* slate-900 */
  color: #e5e7eb;
  /* gray-200 */
}

@import './components/Modal.css';

.app-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 80px);
  overflow: hidden;
}

/* Ensure banner sits at the top */
.alert-banner+.app-container {
  height: calc(100vh - 80px - 46px);
}

.image-pane {
  flex: 0 0 70%;
  background-color: #1e1e1e;
  /* slate-950 */
  border-right: 1px solid #374151;
  /* gray-700 */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.json-pane {
  flex: 0 0 30%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.controls {
  padding: 15px;
  border-top: 1px solid #374151;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.export-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s;
}

.export-button {
  background-color: #66d4e5;
  /* green-600 */
  color: #0b3054;
}

.export-button:hover {
  background-color: #1e9fd7;
  /* green-700 */
}

.export-button:disabled {
  background-color: #4b5563;
  /* gray-600 */
  cursor: not-allowed;
}