.metadata-display {
  padding: 15px;
  border-bottom: 1px solid #374151;
  /* gray-700 */
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #0f172a;
  /* slate-950 */
}

.metadata-display h3 {
  margin: 0 0 10px 0;
  color: #e5e7eb;
  /* gray-200 */
  font-size: 1.1rem;
  font-weight: 500;
}

.metadata-editor {
  border: 1px solid #374151;
  /* gray-700 */
  border-radius: 4px;
  overflow: hidden;
  height: 220px;
}